{
  auto_https off
}

:3000

# todo: create vite/actix interop after learnrust
# handle {
#   reverse_proxy localhost:{$VITE_DEV_SERVER_PORT}
# }

handle {
  reverse_proxy localhost:{$ACTIX_SERVER_PORT}
}
